sudo: false
dist: xenial
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"
install:
  - pip install -q -U pip tox tox-travis
  - pip install -e .[dev]
script:
  - tox
after_success:
  - bash <(curl -s https://codecov.io/bash)
